EXPO_PUBLIC_SUPABASE_URL=https://oeptseypavycqllxfmbz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9lcHRzZXlwYXZ5Y3FsbHhmbWJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MjU2OTEsImV4cCI6MjA4OTQwMTY5MX0.9pOjKZRwyekNmZtd_JjYm2zwZdBYDXbV80v0XFxoFqU
EXPO_PUBLIC_API_URL=http://localhost:8000
